html, body
{
    height: 100%;
}

#map { 
    height: 100%;
    width: 100%;
    z-index:1;
} 

.scrollable-menu {
    height: auto;
    max-height: 200px;
    width: 210px;
    overflow-x: hidden;
}

.legend {
    line-height: 18px;
    color: #555;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info h2 {
    font: 15px Arial, Helvetica, sans-serif;
    margin: 0 0 1px;
    color: #1313f5;
}


.VPCinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.VPCinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* modal dialog box (island info window) stuff */

/* grey background */
#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:left;
     z-index: 1000;
     background: rgba(0,0,0,0.2);
}

/*white box for text overlay*/
#overlay div {
     width:300px;
     height: 50%;
     margin: 50px auto;
     float: center;
     left:  0px;
     text-align:left;
     padding: 6px 8px;
     font: 14px/16px Arial, Helvetica, sans-serif;
     background: white;
     background: rgba(255,255,255,0.8);
     box-shadow: 0 0 15px rgba(0,0,0,0.2);
     border-radius: 5px;
     overflow: auto;
}

#overlay::first-line { 
    text-align:center;
}

/*button (so you can use href with a button set from script)*/
a.button {
    border: 5px solid;
    border-radius: 5px;
    border-color: white;
    height: auto;
    float: right;
    background-color: white;
    text-decoration: none;
    color: initial;
}

a.button:hover { 
    background-color: powderblue;
    border-color: powderblue;    
}

/*button (so you can use href with a button set from script)*/
a.Xbutton {
    border: 4px solid;
    border-radius: 15px;
    border-color: rgba(255,255,255,0.0);
    height: auto;
    float: right;
    background:  rgba(255,255,255,0.0);
    color: initial;
}

a.Xbutton:hover { 
    border-color: powderblue;  
}

$circle-size:10vmin;

* {
  box-sizing:border-box;
  position:relative;
}

body {
  background:#222;
  overflow:hidden;
}

.circle {
  animation:spin 3s linear infinite both;
  background:#bada55;
  border-radius:100vmax;
  /* margin:calc(50vh - 5vmin) calc(50vw - 1vmin); */ /* Half the longest viewport width minus half the width/height of the circle. */
  margin:60vh calc(50vw - 1vmin);
  height:10vmin;
  position:absolute;
  width:10vmin;
}
.circle + .circle {
  animation:spin 3s linear 1s infinite both;
  background:#10aded;
}
.circle + .circle + .circle {
  animation:spin 3s linear 2s infinite both;
  background:#a991e5;
}
@keyframes spin {
  0% {
    transform: rotate(360deg) translate(0vmax,-10vmax);
	}
  50% {
    transform: rotate(180deg) translate(0vmax,0vmax);
  }
	100% {
    transform: rotate(0deg) translate(0vmax,-10vmax);
	}
}

#loader {
    position:absolute; top:0; bottom:0; width:100%;
    background:rgba(255, 255, 255, .5);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;
    z-index: 2;
}
#loader.done {
    background:rgba(255, 255, 255, 0);
}
#loader.hide {
    display:none;
}
#loader .message {
    position:absolute;
    left:50%;
    top:50%;
}

